*{
    font-family: 'Righteous', cursive;
}


.jumbotron{
    height: 225px;
    padding-top: 40px;
    background-image: url(/images/cart.jpg);
    background-size: cover;
}

body{
    background-image: url(/images/cart.jpg);
    background-size: cover;
}

.btn{
    animation-play-state: paused;
}

.btn:hover{
    animation-play-state: running;
}


.navbar{
    background: transparent;
    font-size: large;
}

ul i{
    padding-left: .5em;
}
